<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <h1 class="color-white">Expense Chart</h1>
  <div class="w-100-p" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="chart-container"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="60%"
      fxFlex.lt-lg="80%"
      fxFlex.lt-md="100%"
    >
      <section class="chart-header mb-40">
        <h2>Expenses</h2>
      </section>

      <app-chart-filter></app-chart-filter>

      <app-chart></app-chart>

      <!-- Chart Footer  -->

      <div
        class="chart-footer w-100-p"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <div
          class="color-tuple"
          fxLayout="row"
          fxLayout.lt-md="column"
          fxLayoutGap="20px"
        >
          <div class="color-profile" fxLayout="row" fxLayoutGap="12px">
            <div class="color-tablet bg-personal"></div>
            <p class="indicator-label">Personal</p>
          </div>

          <div class="color-profile" fxLayout="row" fxLayoutGap="12px">
            <div class="color-tablet bg-shopping"></div>
            <p class="indicator-label">Shopping</p>
          </div>
        </div>

        <div
          class="color-tuple"
          fxLayout="row"
          fxLayout.lt-md="column"
          fxLayoutGap="20px"
        >
          <div class="color-profile" fxLayout="row" fxLayoutGap="12px">
            <div class="color-tablet bg-phone"></div>
            <p class="indicator-label">Phone</p>
          </div>

          <div class="color-profile" fxLayout="row" fxLayoutGap="12px">
            <div class="color-tablet bg-other"></div>
            <p class="indicator-label">Other</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
