<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <h1 class="color-white">Expense Chart</h1>
  <div class="w-100-p" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="chart-container"
      fxFlex="60%"
      fxFlex.lt-lg="80%"
      fxFlex.lt-md="100%"
    >
      <section class="chart-header"></section>

      <section class="chart-filter"></section>

      <div class="chart"></div>

      <div class="chart-footer"></div>
    </div>
  </div>
</div>
