@import "../../../color-variables.scss";

button {
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 30px;
}

button:hover {
  background-color: $filter-button-hover-bg;
  cursor: pointer;
}

.selected-button {
  background-color: $white-color;
  span {
    color: blue;
  }
}

.filter-container {
  background-color: $filter-bg;
  padding: 15px 30px;
  border-radius: 40px;
}
