$page-background-color: #430099;
$white-color: #fff;

$personal-color: #4c49ed;
$shopping-color: #afadfe;
$phone-color: #4fd18b;
$other-color: #141197;

$text-color: #111111;
$faded-text-color: #938fa3;

$filter-bg: #f5f6fa;

$filter-button-hover-bg: #dadada;
