/* You can add global styles to this file, and also import other style files */
@import "./color-variables.scss";

body {
  font-family: "Helvetica Neue", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 24px;
  background-color: $page-background-color;
}

.w-100-p {
  width: 100%;
}

.color-white {
  color: $white-color;
}
